NODE_ENV=nutrisem
PORT=4000
APP_HOST=0.0.0.0
API_PREFIX=api

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=nutrisem
DB_SSL=false

JWT_ACCESS_SECRET=replace_me_access_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=replace_me_refresh_secret
JWT_REFRESH_EXPIRES_IN=7d

COOKIE_DOMAIN=localhost
COOKIE_SECURE=false
COOKIE_SAME_SITE=lax

CORS_ORIGIN=http://localhost:3000
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
CORS_ALLOW_ALL_DEV=true
CORS_CREDENTIALS=true

# Para Expo en móvil físico usa la IP local de tu PC:
# ejemplo: http://192.168.1.20:4000/api
