NODE_ENV=development
PORT=4000
API_PREFIX=api

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=nutrisem
DB_SSL=false

JWT_ACCESS_SECRET=replace_me
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=replace_me
JWT_REFRESH_EXPIRES_IN=7d

COOKIE_DOMAIN=localhost
COOKIE_SECURE=false
CORS_ORIGIN=http://localhost:3000